
body {
  background-color: #282c34;
}
.Blocks {
  border-radius: 100px;
  cursor: pointer;
}
.Container {
  margin: 20vh 70vh 0px 70vh;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto;
  grid-template-rows: 100px 100px;
}
.Controls {
  text-decoration: none;
  color: white;
  background-color: grey;
  margin: 0vh 60vh 0vh 60vh;
  height: 30vh;
}
.Counter {
  background-color: white;
  height: 5vh;
  margin: 0vh 33vh 0vh 33vh;
  color: black;
  font-size: 25px;
}

.Switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.Switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.Slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 20px;
  left: 4px;
  bottom: 18px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .Slider {
  background-color: rgb(69, 80, 90);
}
input:focus + .Slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked +.Slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}