.Header {
  background-color: black;
  text-decoration: none;
  color: white;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-weight: bold;
  font-size: 40px;
  height: 10vh;
  padding-top: 20px;
}

.Post-form {
  text-align: center;
  background-color: rgb(21, 129, 97);
  height: 50vh;
  padding-top: 20px;
  text-decoration: none;
  /* color: white; */
  
}
.Posts {
  text-align: center;
  background-color: rgb(10, 55, 65);
  text-decoration: none;
  color: white;
  padding-top: 30px;
}
.Posts-h1 {
  font-family: 'Libre Baskerville', serif;
}
.Post-form-h1 {
  font-family: 'Libre Baskerville', serif;
}